body {
    background-image: url("Fang&Bone - Purple&Blue/Charliebrown.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    color: rgb(155, 112, 52);
}

.logo-box {
    background-image: url("images/4ttt.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.beat-of-the-week h2 {
    background-image: url("images/Ganon.png");
    color: transparent;
}

.beat-box {
    background-image: url("Fang&Bone - Purple&Blue/135.JPG");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: repeat;
    border: 15px solid;
    border-image: url("Fang&Bone - Purple&Blue/400.JPG") 30 round;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.beat-nav a:hover {
    transform: translateY(-3px) scale(1.05);
    filter: drop-shadow(0 0 8px rgb(255, 157, 63)) drop-shadow(0 0 15px rgb(255, 101, 0));
    cursor: pointer;
}

.sad-button {
    background-image: url("Fang&Bone - Purple&Blue/sadbeatsBEAUTY.png");
}

.happy-button {
    background-image: url("Fang&Bone - Purple&Blue/Happybeats.png");
}

.angry-button {
    background-image: url("Fang&Bone - Purple&Blue/Angrytbeatspurple.png");
}

.manor-button {
    background-image: url("images/image2.png");
}

.art-button {
    background-image: url("images/image2.png");
}

.WIP-button {
    background-image: url("images/image2.png");
}

.beat-nav-right a:hover {
    transform: translateY(-3px) scale(1.05);
    filter: drop-shadow(0 0 8px rgb(255, 101, 0)) drop-shadow(0 0 15px rgb(255, 101, 0));
    cursor: pointer;
}

@font-face {
    font-family: "Font";
    src: url("fonts/Motion Bold.ttf") format("truetype");
}

h3 {
    font-family: Font;
    color: rgb(255, 101, 0, 0.85);
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient( to bottom, rgb(20, 16, 117), rgb(3, 55, 1, 0.92) );
    border: 5px solid rgb(0 0 0 / 0.80);
    border-radius: 2px;
    box-shadow: 0 0 20px rgb(14, 9, 43, 0.80), inset 0 0 10px rgb(0, 36, 255, 0.20);
}

h4 {
    font-family: Font;
    color: rgb(255, 101, 0, 0.85);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient( to bottom, rgb(20, 16, 117), rgb(3, 55, 1, 0.92) );
    border: 5px solid rgb(0 0 0 / 0.80);
    border-radius: 2px;
    box-shadow: 0 0 20px rgb(14, 9, 43, 0.80), inset 0 0 10px rgb(0, 36, 255, 0.20);
}

.work-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), inset 0 0 10px rgba(255, 215, 120, 0.15);
}

.weekly-beat {
    border: solid rgb(43, 9, 9, 0.80);
}

    .weekly-beat iframe {
        border: none;
    }

@media (max-width: 600px) {

    html,
    body {
        background-image: url("gifs/guy.gif");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}